<!DOCTYPE html>
<html>
<head>
    <title>Activating Your Quill account</title>
</head>
<body>
Thanks for joining Quill!
<br/><br/>
In order to activate your account with us, please click here: <a href="{{ link|external }}">Activation Page</a>
</body>
</html>