<!DOCTYPE html>
<html>
<head>
    <title>Your Quill Password Has Been Reset</title>
</head>
<body>
Your new password is: <b>{{ password }}</b>
<br/><br/>
Please use your new password to login here: <a href="{{ url_for('account.login')|external }}">Login</a>
</body>
</html>