{% extends "site_base.html" %}

{% block title %}- Dashboard{% endblock %}
{% block content %}
    <h1>Admin Dashboard</h1>

    {% include "snippets/flashes.html" %}

    <h2>Admins</h2>
    <hr>
    {% if admins %}
        <ul>
            {% for user in admins %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No admins.</p>
    {% endif %}

    <br/>

    <h2>All Users</h2>
    <hr>
    {% if all_users %}
        <ul>
            {% for user in all_users %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users.</p>
    {% endif %}

    <br/>

    <h2>Recent Users</h2>
    <hr>
    {% if new_users %}
        <ul>
            {% for user in new_users %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users.</p>
    {% endif %}

    <br/>

    <h2>Invited Users</h2>
    <hr>
    {% if invited_users %}
        <ul>
            {% for user in invited_users %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users.</p>
    {% endif %}

    <br/>

    <h2>Never Activated Users</h2>
    <hr>
    {% if never_activated_users %}
        <ul>
            {% for user in never_activated_users %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users.</p>
    {% endif %}

    <br/>

    <h2>Cancelled Users</h2>
    <hr>
    {% if cancelled_users %}
        <ul>
            {% for user in cancelled_users %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users.</p>
    {% endif %}

    <br/>

    <h2>Plans</h2>
    <hr>
    <p>Paying Users - {{ paying_users }}</p>
    {% if plan_breakdown %}
        <ul>
            {% for tier, count in plan_breakdown %}
                <li>{{ tier }} - {{ count }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users.</p>
    {% endif %}
{% endblock %}