<!DOCTYPE html>

{% import "bootstrap_wtf.html" as wtf %}

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Quill {% block title %}- {% endblock title %} - Improve your legal writing</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block global_css %}
        {% include "snippets/global_css.html" %}
    {% endblock global_css %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="{{ config.ASSETS_BASE_URL }}/img/favicon.ico">
</head>

<body>
<header>
    <p>App Header</p>

    <ul>
        <li><a href="{{ url_for('q.index') }}">Quill</a></li>
        <li><a href="{{ url_for('q.documents') }}">Documents</a></li>
        <li><a href="{{ url_for('profile.index') }}">Profile</a></li>
        <li><a href="{{ url_for('q.help') }}">Need Help?</a></li>
        <li class="active"><a href="{{ url_for('account.logout') }}">Logout</a></li>
    </ul>
</header>

{% block content %}
    <p>App Content</p>
{% endblock content %}

{% block templates %}
<script id="li-document-template" type="text/x-handlebars-template">
    {% raw %}
    <li>
        <a href="documents/{{ id }}">{{ filename }}</a>
        just now
        <button class="delete-doc-btn" data-id="{{ id }}">Delete</button>
    </li>
    {% endraw %}
</script>
{% endblock templates %}

{% block footer %}
<footer class="footer">
    <br/>
    <p>App Footer</p>
</footer>
{% endblock footer %}

{% block global_js %}
    {% include "snippets/global_js.html" %}
{% endblock global_js %}

{% block page_js %}

{% endblock page_js %}

</body>
</html>