<!DOCTYPE html>

{% import "bootstrap_wtf.html" as wtf %}

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Quill {% block title %}- {% endblock title %} - Improve your legal writing</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Improve your legal writing with Quill">
    <meta name="author" content="usequill.com">
    <meta name="keywords" content="legal writing tutor, legal writing help, improve legal writing, readability tool">

    <meta name="google-site-verification" content="Q2lh8WMGQL1pAOjYYTEQcJ5afec2hP72dtT_AQMfpAY" />
    <meta name="google-site-verification" content="NmUwnLYK_OvNqHCNQJOwyN_niyfLYkBlpC9ch_5gKnw" />

    {% block global_css %}

    {% endblock global_css %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="{{ config.ASSETS_BASE_URL }}/img/favicon.ico">
</head>

<body>
<header>
    <p>Site Header</p>
    <ul>
        <li><a href="{{ url_for('site.index') }}">Quill</a></li>
        <li><a href="{{ url_for('account.login') }}">Login</a></li>
        <li><a href="{{ url_for('account.signup') }}">Sign Up Now</a></li>

        <li class="active"><a href="{{ url_for('account.logout') }}">Logout</a></li>
    </ul>
</header>

{% block content %}
    <p>Site Content</p>
{% endblock content %}


{% block footer %}
    <p>Site Footer</p>
{% endblock footer %}


{% block global_js %}
    {% include "snippets/global_js.html" %}
{% endblock global_js %}
</body>
</html>