{% extends "app_base.html" %}

{% block title %}{% endblock %}

{% block nav %}
    {% include "snippets/app_nav.html" %}
{% endblock %}

{% block content %}
<h2>Home</h2>
<hr/>

{% include "snippets/flashes.html" %}

<div class="row-fluid">
    <h3>Your Recent Documents</h3>
    <ul class="documents-list">
    {% if documents %}

        {% for doc in documents %}
            <li>
                <a href="{{ url_for('q.document', id=doc.id) }}">{{ doc.filename }}</a>
                {{ doc.date_created|timesince }}
                <button class="delete-doc-btn" data-id="{{ doc.id }}">Delete</button>
            </li>
        {% endfor %}
    {% else %}
        <li class="warning">You have no documents yet!</li>
    {% endif %}
    </ul>
</div>

<br/>

<div class='row-fluid'>
    <h3>Analyze A New Document</h3>

    <form id="upload" method="post" action="{{ url_for('document_api') }}" enctype="multipart/form-data">
        <div class="analyzing">Analyzing...</div>
        {{ form.hidden_tag() }}
        <input type="file" id="file" name="file"/>
    </form>

    <br>
</div>
{% endblock %}

{% block page_js %}

{% endblock %}