{% extends "app_base.html" %}

{% block title %}- Documents{% endblock %}

{% block nav %}
    {% include "snippets/app_nav.html" %}
{% endblock %}

{% block content %}
<h2>Documents</h2>
<button class="delete-all-btn">Delete All</button>
<hr/>

{% include "snippets/flashes.html" %}

<ul class="documents-list">
{% if documents %}
    {% for doc in documents %}
        <li>
            <a href="{{ url_for('q.document', id=doc.id) }}">{{ doc.filename }}</a>
            {{ doc.date_created|timesince }}
            <button class="delete-doc-btn" data-id="{{ doc.id }}">Delete</button>
        </li>
    {% endfor %}
{% else %}
    <li class="warning">You have no documents yet!</li>
{% endif %}
</ul>

{% endblock %}