{% extends "app_base.html" %}

{% block title %}- Document{% endblock %}

{% block nav %}
    {% include "snippets/app_nav.html" %}
{% endblock %}

{% block content %}
<h2>Document</h2>

<button class="delete-doc-btn" data-id="{{ doc.id }}">Delete</button>
<hr/>

{% include "snippets/flashes.html" %}


<div class='row-fluid'>
    <h3><strong>{{ doc.filename }} - {{ doc.date_created|timesince }}</strong></h3>
    <div id="viewer">

    </div>
 </div>


{% if doc %}
    <p><strong>Document Summary</strong></p>
    <ul>
        <li>Paragraphs: {{ doc.summary.paragraphs }}</li>
        <li>Sentences: {{ doc.summary.sentences }}</li>
        <li>Words: {{ doc.summary.words }}</li>
        <li>Syllables: {{ doc.summary.syllables }}</li>
        <li>Complex Words: {{ doc.summary.complex_words }}</li>
        <li>Characters: {{ doc.summary.characters }}</li>
    </ul>

    <p><strong>Style Summary</strong></p>
    <ul>
        <li>Avg. Words Per Paragraph: {{ doc.summary.avg_words_per_paragraph|round(1) }}</li>
        <li>Avg. Words Per Sentence: {{ doc.summary.avg_words_per_sentence|round(1) }}</li>
        <li>Avg. Sentences Per Paragraph: {{ doc.summary.avg_sentences_per_paragraph|round(1) }}</li>
        <li>Avg. Characters Per Word: {{ doc.summary.avg_characters_per_word|round(1) }}</li>
        <li>Avg. Syllables Per Word: {{ doc.summary.avg_syllables_per_word|round(1) }}</li>
        <li>Avg. Syllables Per Sentence: {{ doc.summary.avg_syllables_per_sentence|round(1) }}</li>
        <li>Avg. Syllables Per Paragraph: {{ doc.summary.avg_syllables_per_paragraph|round(1) }}</li>
    </ul>

    <p><strong>Readability Summary</strong></p>
    <ul>
         <li>Automated Readability Index: {{ doc.readability.ARI|round(1) }}</li>
         <li>Coleman Liau Index: {{ doc.readability.CLI|round(1) }}</li>
         <li>Flesch Kincaid Grade Level: {{ doc.readability.FKGL|round(1) }}</li>
         <li>Flesch Reading Ease: {{ doc.readability.FRE|round(1) }}</li>
         <li>Gunning Fog Index: {{ doc.readability.GFI|round(1) }}</li>
         <li>LIX: {{ doc.readability.LIX|round(1) }}</li>
         <li>RIX: {{ doc.readability.RIX|round(1) }}</li>
         <li>McAlpine EFLAW: {{ doc.readability.MEFLAW|round(1) }}</li>
         <li>SMOG Index: {{ doc.readability.SMOG|round(1) }}</li>
    </ul>

    <p><strong>Writing Recommendations</strong></p>
    {% if doc.recommendations %}
        <ul>
            {% for rr in doc.recommendations %}
            <li>
                <p><strong>{{ rr.name }}</strong> - {{ rr.message }}</p>

                {% if rr.applies_to %}
                    <p>Applies to:</p>
                    <ul>
                        {% for atom in rr.applies_to %}
                            <li>{{ atom._cls }} - {{ atom.text }} ({{ atom.pid }}, {{ atom.sid }})</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Looks good!</p>
    {% endif %}

{% else %}
    <p>Missing document!</p>
{% endif %}

{% endblock %}


{% block page_js %}
<script>
    var app = new AppView({
       'id': '{{ doc.id|safe }}',
       'paragraphs': {{ doc.paragraphs|tojson|safe }},
       'sentences': {{ doc.sentences|tojson|safe }} //,
    {#}//'recommendations': {{ doc.recommendations|tojson|safe }} #}
    });
</script>
{% endblock %}