{% extends "app_base.html" %}

{% block title %}- Account Settings{% endblock %}

{% block nav %}
    {% include "snippets/app_nav.html" %}
{% endblock %}

{% block content %}
<h2>Account Settings</h2>
<hr/>

{% include "snippets/flashes.html" %}

<div class='row'>
    <div id="navbar" class='span3'>
        <h4><i class='icon icon-user'></i> {{ current_user.email_address }}</h4>
        <hr/>
        <ul class='nav nav-tabs nav-stacked'>
            <li><a href='#account'><i class="icon-chevron-right"></i>Account</a></li>
            <li><a href='#notifications'><i class="icon-chevron-right"></i>Notifications</a></li>
            <li><a href='#billing'><i class="icon-chevron-right"></i>Billing</a></li>

            {% if current_user.on_paid_plan() %}
            <li><a href='#payment-history'><i class="icon-chevron-right"></i>Payment History</a></li>
            {% endif %}
        </ul>
    </div>

    <div class='offset1 span8'>
        <div id="account" class='row-fluid settings'>
            <h4><i class="icon icon-lock"></i>  Change Password</h4>
            <hr/>
            <form id="change-password-form" class="form">
                {{ change_password_form.hidden_tag() }}
                {{ wtf.form_errors(change_password_form, "only") }}

                {{ wtf.horizontal_field(change_password_form.password) }}
                {{ wtf.horizontal_field(change_password_form.password_confirm) }}

                <button id="btn-change-password" type="submit" class="btn">Update Password</button>
            </form>
        </div>

        <div class='row-fluid settings'>
            <h4><i class='icon icon-remove-sign'></i>  Delete Account</h4>
            <hr/>
            <p>Once you delete your account, there is no going back. Please be certain.</p>
            <p class='text-error'>You will lose all of your saved documents.</p>
            <br/>
            <a id="btn-delete-account" class='btn' href="#">Delete Account</a>
            <br/><br/>
            {% if not current_user.on_summer_plan() %}
            <p>Are you sure you don't want to just <a id="plan-summer-associate">downgrade your account</a> to a <strong>FREE</strong> account?
                We won't charge your credit card anymore.
            </p>
            {% endif %}
        </div>

        <div id="notifications" class='row-fluid settings'>
            <h4><i class='icon icon-envelope'></i>  Notifications</h4>
            <hr/>
            {% if notifications %}
                {% for notice in notifications %}
                    <div id="{{ notice.id }}" class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ notice.text }}
                    </div>
                {% endfor %}
            {% else %}
                <p class='text-info'>You do not have any unread notifications.</p>
            {% endif %}
        </div>

        <!--<div id="billing" class='row-fluid settings'>-->
            <!--<h4><i class="icon icon-money"></i>  Billing</h4>-->
            <!--<hr/>-->
            <!--{% if current_user.on_paid_plan() %}-->
                <!--&lt;!&ndash;<p>Credit card on file. <a id="action-show-card" href="#">Show card?</a></p>&ndash;&gt;-->
                <!--&lt;!&ndash;<br/>&ndash;&gt;-->
            <!--{% endif %}-->

            <!--<table id="billing-plans" class="table table-hover table-bordered billing-plans">-->
                <!--<thead>-->
                    <!--<tr class='title'><td colspan='5'>Available Plans</td></tr>-->
                    <!--<tr>-->
                        <!--<th class='muted'>Plan</th>-->
                        <!--<th class='muted'>Price</th>-->
                        <!--<th class='muted'>Benefits</th>-->
                        <!--<th class='muted'></th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td class='plan-name'>Partner</td>-->
                        <!--<td class='price muted'>$30/month</td>-->
                        <!--<td>Unlimited document analysis and snippets. Unlimited support via email and telephone. Training materials.</td>-->
                        <!--<td class='cta'>-->
                            <!--<a id="btn-plan-partner" class='btn btn-pricing {% if current_user.on_partner_plan() %}disabled btn-info{% else %} btn-primary{% endif %}'>-->
                                <!--{% if current_user.on_partner_plan() %}My Plan-->
                                <!--{% elif current_user.on_midlevel_plan() %}Upgrade-->
                                <!--{% elif current_user.on_associate_plan() %}Upgrade-->
                                <!--{% elif current_user.on_summer_plan() %}Upgrade-->
                                <!--{% endif %}-->
                            <!--</a>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class='plan-name'>Mid-level Associate</td>-->
                        <!--<td class='price muted'>$15/month</td>-->
                        <!--<td>150 document analyses and snippets a month. Unlimited product support via email. Training materials.</td>-->
                        <!--<td class='cta'>-->
                            <!--<a id="btn-plan-midlevel" class='btn btn-pricing {% if current_user.on_midlevel_plan() %}disabled btn-info{% else %} btn-primary{% endif %}'>-->
                                <!--{% if current_user.on_partner_plan() %}Downgrade-->
                                <!--{% elif current_user.on_midlevel_plan() %}My Plan-->
                                <!--{% elif current_user.on_associate_plan() %}Upgrade-->
                                <!--{% elif current_user.on_summer_plan() %}Upgrade-->
                                <!--{% endif %}-->
                            <!--</a>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class='plan-name'>Associate</td>-->
                        <!--<td class='price muted'>$9/month</td>-->
                        <!--<td>50 document analyses and snippets a month. Limited product support via Help documentation.</td>-->
                        <!--<td class='cta'>-->
                            <!--<a id="btn-plan-associate" class='btn btn-pricing {% if current_user.on_associate_plan() %}disabled btn-info{% else %}btn-primary{% endif %}'>-->
                                <!--{% if current_user.on_partner_plan() %}Downgrade-->
                                <!--{% elif current_user.on_midlevel_plan() %}Downgrade-->
                                <!--{% elif current_user.on_associate_plan() %}My Plan-->
                                <!--{% elif current_user.on_summer_plan() %}Upgrade-->
                                <!--{% endif %}-->
                            <!--</a>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class='plan-name'>Summer Associate</td>-->
                        <!--<td class='price muted'>Free</td>-->
                        <!--<td>20 document analyses and snippets a month. Limited product support via Help documentation.</td>-->
                        <!--<td class='cta'>-->
                            <!--<a id="btn-plan-summer-associate" class='btn btn-pricing {% if current_user.on_summer_plan() %}disabled btn-info{% else %}btn-primary{% endif %}'>-->
                                <!--{% if current_user.on_partner_plan() %}Downgrade-->
                                <!--{% elif current_user.on_midlevel_plan() %}Downgrade-->
                                <!--{% elif current_user.on_associate_plan() %}Downgrade-->
                                <!--{% elif current_user.on_summer_plan() %}My Plan-->
                                <!--{% endif %}-->
                            <!--</a>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr><td colspan='4'><small class='muted'>Larger plans are available upon request — contact <a href="support">support@usequill.com</a>.</small></td></tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->


        <div id="billing" class='row-fluid settings'>
            <h4><i class="icon icon-money"></i>  Billing</h4>
            <hr/>
            {% if current_user.on_paid_plan() %}
                <!--<p>Credit card on file. <a id="action-show-card" href="#">Show card?</a></p>-->
                <!--<br/>-->
            {% endif %}

            <table id="billing-plans" class="table table-hover table-bordered billing-plans">
                <thead>
                    <tr class='title'><td colspan='5'>Available Plans</td></tr>
                    <tr>
                        <th class='muted'>Plan</th>
                        <th class='muted'>Price</th>
                        <th class='muted'>Benefits</th>
                        <th class='muted'></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class='plan-name'>Partner</td>
                        <td class='price muted'>$30/month</td>
                        <td>Unlimited document analysis. Unlimited support via email and telephone. Training materials.</td>
                        <td class='cta'>
                            <a id="btn-plan-partner" class='btn btn-pricing {% if current_user.on_partner_plan() %}disabled btn-info{% else %} btn-primary{% endif %}'>
                                {% if current_user.on_partner_plan() %}My Plan
                                {% elif current_user.on_midlevel_plan() %}Upgrade
                                {% elif current_user.on_associate_plan() %}Upgrade
                                {% elif current_user.on_summer_plan() %}Upgrade
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class='plan-name'>Mid-level Associate</td>
                        <td class='price muted'>$15/month</td>
                        <td>150 document analyses a month. Unlimited product support via email. Training materials.</td>
                        <td class='cta'>
                            <a id="btn-plan-midlevel" class='btn btn-pricing {% if current_user.on_midlevel_plan() %}disabled btn-info{% else %} btn-primary{% endif %}'>
                                {% if current_user.on_partner_plan() %}Downgrade
                                {% elif current_user.on_midlevel_plan() %}My Plan
                                {% elif current_user.on_associate_plan() %}Upgrade
                                {% elif current_user.on_summer_plan() %}Upgrade
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class='plan-name'>Associate</td>
                        <td class='price muted'>$9/month</td>
                        <td>50 document analyses a month. Limited product support via Help documentation.</td>
                        <td class='cta'>
                            <a id="btn-plan-associate" class='btn btn-pricing {% if current_user.on_associate_plan() %}disabled btn-info{% else %}btn-primary{% endif %}'>
                                {% if current_user.on_partner_plan() %}Downgrade
                                {% elif current_user.on_midlevel_plan() %}Downgrade
                                {% elif current_user.on_associate_plan() %}My Plan
                                {% elif current_user.on_summer_plan() %}Upgrade
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class='plan-name'>Summer Associate</td>
                        <td class='price muted'>Free</td>
                        <td>20 document analyses a month. Limited product support via Help documentation.</td>
                        <td class='cta'>
                            <a id="btn-plan-summer-associate" class='btn btn-pricing {% if current_user.on_summer_plan() %}disabled btn-info{% else %}btn-primary{% endif %}'>
                                {% if current_user.on_partner_plan() %}Downgrade
                                {% elif current_user.on_midlevel_plan() %}Downgrade
                                {% elif current_user.on_associate_plan() %}Downgrade
                                {% elif current_user.on_summer_plan() %}My Plan
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                    <tr><td colspan='4'><small class='muted'>Larger plans are available upon request — contact <a href="support">support@usequill.com</a>.</small></td></tr>
                </tbody>
            </table>
        </div>

        {% if current_user.on_paid_plan() %}
        <div id="payment-history" class='row-fluid settings'>
            <h4>Payment History</h4>
            <hr/>
            {% if payments %}
                {% for payment in payments %}
                <div id="{{ payment.id }}" class="alert alert-success">
                    {{ payment.date_charged }} - {{ payment.amount }}
                </div>
                {% endfor %}
            {% else %}
                <p class='text-info'>You haven't made any payments yet.</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

<!-- MODALS -->
<div id="modal-delete-account" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class='text-error'>Delete Account</h3>
    </div>
    <div class="modal-body">
        <p class="text-error">
            Deleting your account is permanent. You will lose all of your saved documents.
            Please click the acknowledgement button to continue.
        </p>
        <br/>

        <form id="delete-account-form" class="form">
            {{ delete_account_form.hidden_tag() }}
            {{ wtf.form_errors(delete_account_form, "only") }}

            {{ wtf.horizontal_field(delete_account_form.acknowledgement) }}
        </form>
    </div>
    <div class="modal-footer">
        <a id="action-confirm-delete-account" href="#" class="btn btn-error" aria-hidden="true">Delete Account</a>
        <a id="action-cancel-delete-account" href="#" class="btn" aria-hidden="true">Cancel</a>
    </div>
</div>

<div id="modal-change-plan" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Change Plan</h3>
    </div>

    {% if current_user.on_paid_plan() %}
        <div class="modal-body">
            <p>Change to the <strong><span id="plan-name"></span></strong> plan?</p>

            <form id="stripe-form" action="{{ url_for('plan_update_api') }}" method='POST'>
                <input id="plan-type" name="planType" type="hidden" value="">
            </form>
        </div>
        <div class="modal-footer">
            <a id="action-confirm-change-plan" href="#" class="btn btn-primary" aria-hidden="true">Change Plan</a>
            <a id="action-cancel-change-plan" href="#" class="btn" aria-hidden="true">Cancel</a>
        </div>
    {% else %}
        <div class="modal-body">
            <p>Changing to the <strong><span id="plan-name"></span></strong> requires a credit card.</p>

            <p>Please enter your payment information so we can charge you for your new subscription. You can downgrade or cancel at any time.</p>
            <br/>

            <!--<form id="stripe-form" action="{{ url_for('plan_update_api') }}" method='POST'>-->
                <article>
                    <label>Your card will be charged <strong><span id="plan-amount"></span></strong> each month.</label>
                </article>

                <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="{{ key }}"></script>
                <input id="plan-type" name="planType" type="hidden" value="">
            <!--</form>-->

            <br/><br/>
            <p class='text-info'><strong>Your card information is never stored on our servers.</strong></p>
        </div>
        <div class="modal-footer">
            <a id="action-cancel-change-plan" href="#" class="btn" aria-hidden="true">Cancel</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block page_scripts %}
<script>
    $(function () {
        // Notifications
        $('.alert').bind('closed', function (e) {
            var $this = $(this);

            // Delete this notification
            $.ajax({
                type: 'DELETE',
                url: "{{ url_for('delete_notification_api') }}",
                data: JSON.stringify({
                    id: $this.attr('id')
                }),
                dataType: 'json',
                contentType: 'application/json',
                success: function(data){
                    if ($('#notifications').find('alert-info').length == 0) {
                        $('#notifications hr').append(
                            "<br/><p class='text-info'>You do not have any unread notifications.</p>"
                        )
                    }
                },
                error: function(errors){

                }
            });
        });

        // Change Password
        $('#btn-change-password').on('click', function(e) {
            e.preventDefault();

            $('#account').find('alert-success,.alert-error').remove();

            $("#account .error").each(function() {
                $(this).removeClass("error");
            });

            $("#change-password-form div.text-error").each(function(){
               $(this).remove();
            });

            // Update the password
            $.ajax({
                type: 'PUT',
                url: "{{ url_for('change_password_api') }}",
                data: $("#change-password-form").serialize(),
                success: function(data){
                    $('#change-password-form').prepend(
                        "<p class='alert alert-success'>Password has successfully been changed.</p>"
                    );

                    $("#change-password-form").find("input[type=password]").val("");
                },
                error: function(data){
                    var response = JSON.parse(data.responseText);
                    $('#change-password-form').prepend(
                        "<p class='alert alert-error'>There was a problem changing your password.</p>"
                    );

                    $("#change-password-form").find("input[type=password]").val("");

                    for(var error in response['errors']) {
                        $('#' + error + ", #change-password-form textfield[name='"+error+"']"  )
                            .first().parents(".control-group")
                            .addClass("error")
                            .after('<div class="text-error">' + response["errors"][error].toString().replace(',', '<br/><br/>') + '</div>');
                    }
                }
            });
        });

        // Delete Account
        $('#btn-delete-account').on('click', function(e) {
            e.preventDefault();
            $('#modal-delete-account').modal("show");
        });

        $('#action-confirm-delete-account').on('click', function(e) {
            e.preventDefault();

            if ($('#acknowledgement').prop('checked') == false) {
                $('#modal-delete-account').find('.alert-error').remove();
                $('#modal-delete-account').find('div.modal-body').prepend(
                        "<p class='alert alert-error'>You must acknowledge your intent in order to continue.</p>"
                );
                return;
            }

            // Delete this account
            $.ajax({
                type: 'DELETE',
                url: "{{ url_for('delete_account_api') }}",
                data: $("#delete-account-form").serialize(),
                success: function(data){
                    $('#modal-delete-account').modal("hide");

                    window.location.replace("{{ url_for('site.index') }}");
                },
                error: function(errors){
                    $('#modal-delete-account').find('.alert-error').remove();
                    $('#modal-delete-account').find('div.modal-body').prepend(
                        "<p class='alert alert-error'>" + errors.text + "</p>"
                    );
                }
            });
        });

        $('#action-cancel-delete-account').on('click', function(e) {
            e.preventDefault();
            $('#modal-delete-account').modal("hide");
        });

        // Billing
        $('#btn-plan-partner').click(function(){
            if ($(this).hasClass("disabled")) {
                return;
            }

            var token = function(res){
                var $input = $('<input type=hidden name=stripeToken />').val(res.id);

                //$('form').prop('action', '/api/plans/update');
                //$('form').append($input).submit();

                $.ajax({
                    type: 'PUT',
                    url: "{{ url_for('plan_update_api') }}",
                    data: {
                        form: $('form').serialize()
                    },
                    success: function (data) {
                        $('#billing hr').prepend(
                            "<p class='alert alert-success'>Plan has successfully been changed.</p>"
                        );
                    },
                    error: function (data) {
                        var response = JSON.parse(data.responseText);
                        $('#billing hr').append(
                            "<p class='alert alert-error'>There was a problem changing your plan.</p>"
                        );
                    }
                });
            };

            StripeCheckout.open({
                key:         'pk_test_H6TLJhAkGDcpXmnZpDPzDlnF',
                address:     false,
                amount:      3000,
                currency:    'usd',
                name:        'Partner Plan',
                panelLabel:  'Subscribe',
                token:       token
            });

            return false;
        });

        $('#btn-plan-midlevel').click(function(){
            if ($(this).hasClass("disabled")) {
                return;
            }

            var token = function(res){
                var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                $('form').append($input).submit();
            };

            StripeCheckout.open({
                key:         'pk_test_H6TLJhAkGDcpXmnZpDPzDlnF',
                address:     false,
                amount:      1500,
                currency:    'usd',
                name:        'Mid-Level Plan',
                panelLabel:  'Subscribe',
                token:       token
            });

            return false;
        });

        $('#btn-plan-associate').click(function(){
            if ($(this).hasClass("disabled")) {
                return;
            }

            var token = function(res){
                var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                $('form').append($input).submit();
            };

            StripeCheckout.open({
                key:         'pk_test_H6TLJhAkGDcpXmnZpDPzDlnF',
                address:     false,
                amount:      900,
                currency:    'usd',
                name:        'Associate',
                panelLabel:  'Subscribe',
                token:       token
            });

            return false;
        });

        $('#plan-summer-associate, #btn-plan-summer-associate').on('click', function(e) {
            if ($(this).hasClass("disabled")) {
                return;
            }

            var token = function(res){
                var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                $('form').append($input).submit();
            };

            StripeCheckout.open({
                key:         'pk_test_H6TLJhAkGDcpXmnZpDPzDlnF',
                address:     false,
                amount:      0,
                currency:    'usd',
                name:        'Summer Associate',
                panelLabel:  'Subscribe',
                token:       token
            });

            return false;
        });


        $('#action-confirm-change-plan').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();

            // Update the button states
            var plan = $('#plan-type').val();

            // Remove all disabled classes
            $('.btn-pricing').removeClass('disabled').removeClass('btn-info').removeClass('btn-primary');

            if (plan == 0) {
                console.log('0');
                $('#btn-plan-summer-associate').text('My Plan').addClass('btn-info').addClass('disabled');
                $('#btn-plan-associate').text('Upgrade').addClass('btn-primary');
                $('#btn-plan-midlevel').text('Upgrade').addClass('btn-primary');
                $('#btn-plan-partner').text('Upgrade').addClass('btn-primary');
            } else if (plan == 1) {
                $('#btn-plan-summer-associate').text('Downgrade').addClass('btn-primary');
                $('#btn-plan-associate').text('My Plan').addClass('btn-info').addClass('disabled');
                $('#btn-plan-midlevel').text('Upgrade').addClass('btn-primary');
                $('#btn-plan-partner').text('Upgrade').addClass('btn-primary');
            } else if (plan == 2) {
                $('#btn-plan-summer-associate').text('Downgrade').addClass('btn-primary');
                $('#btn-plan-associate').text('Downgrade').addClass('btn-primary');
                $('#btn-plan-midlevel').text('My Plan').addClass('btn-info').addClass('disabled');
                $('#btn-plan-partner').text('Upgrade').addClass('btn-primary');
            } else {
                $('#btn-plan-summer-associate').text('Downgrade').addClass('btn-primary');
                $('#btn-plan-associate').text('Downgrade').addClass('btn-primary');
                $('#btn-plan-midlevel').text('Downgrade').addClass('btn-primary');
                $('#btn-plan-partner').text('My Plan').addClass('btn-info').addClass('disabled');
            }

            // Update the plan
            $.ajax({
                type: 'PUT',
                url: "{{ url_for('plan_update_api') }}",
                data: {
                    planType: plan
                },
                success: function (data) {
                    $('#billing hr').prepend(
                        "<p class='alert alert-success'>Plan has successfully been changed.</p>"
                    );
                },
                error: function (data) {
                    var response = JSON.parse(data.responseText);
                    $('#billing hr').append(
                        "<p class='alert alert-error'>There was a problem changing your plan.</p>"
                    );
                }
            });

            $('#modal-change-plan').modal("hide");
        });
    })
</script>
{% endblock %}