<br/>

<div class="row-fluid">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {% if category %}{{category}} {%endif %}cfx">
            	{{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
