<!-- LIB -->
<script src="{{ config.ASSETS_BASE_URL }}/js/lib/jquery-1.9.1.min.js"></script>

<script src="{{ config.ASSETS_BASE_URL }}/js/lib/jquery.ui.widget.js"></script>
<script src="{{ config.ASSETS_BASE_URL }}/js/lib/jquery.iframe-transport.js"></script>
<script src="{{ config.ASSETS_BASE_URL }}/js/lib/jquery.fileupload.js"></script>
<script src="{{ config.ASSETS_BASE_URL }}/js/lib/handlebars-1.0.rc.1.min.js"></script>

<script src="{{ config.ASSETS_BASE_URL }}/js/lib/underscore-min.js"></script>
<script src="{{ config.ASSETS_BASE_URL }}/js/lib/backbone-min.js"></script>



<!-- APP -->
<script src="{{ config.ASSETS_BASE_URL }}/js/app.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-11955379-6', 'usequill.com');
  ga('send', 'pageview');
</script>
