{% extends "site_base.html" %}

{% block title %}- Activate Your Account{% endblock %}

{% block content %}
    <p>Activate Your Account</p>

    <ul>
        <li><a href="{{ url_for('account.reset_password') }}">Forgot your password?</a></li>
    </ul>

    {% include "snippets/flashes.html" %}

    <form method="POST" action="{{ url_for('account.activate') }}">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, "only") }}

        {{ wtf.horizontal_field(form.activation_code) }}

        <button id="activate-btn" name="activate-btn" type="submit">Activate</button>
    </form>

{% endblock %}