{% extends "site_base.html" %}

{% block title %}- Change Your Password{% endblock %}
{% block content %}
    <p>Change Your Password</p>

    {% include "snippets/flashes.html" %}

    <form method="POST" action="{{ url_for('account.change_password') }}">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, "only") }}

        {{ wtf.horizontal_field(form.password) }}
        {{ wtf.horizontal_field(form.password_confirm) }}

        <button id="change-password-btn" name="change-password-btn" type="submit">Change Password</button>
    </form>

{% endblock %}

