{% extends "site_base.html" %}

{% block title %}- Delete Your Account{% endblock %}
{% block content %}
    <p>Delete Your Account</p>

    {% include "snippets/flashes.html" %}

    <form method="POST" action="{{ url_for('account.delete') }}">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, "only") }}

        {{ wtf.horizontal_field(form.email_address) }}
        {{ wtf.horizontal_field(form.password) }}
        {{ wtf.horizontal_field(form.acknowledgement) }}

        <button id="cancel-btn" name="cancel-btn" type="submit">Delete Account</button>
    </form>

{% endblock %}