{% extends "site_base.html" %}

{% block title %}- Login{% endblock %}
{% block content %}
    <p>Login</p>

    <ul>
        <li><a href="{{ url_for('account.reset_password') }}">Forgot your password?</a></li>
    </ul>

    {% include "snippets/flashes.html" %}

    <form method="POST" action="{{ url_for('account.login') }}">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, "only") }}

        {{ wtf.horizontal_field(form.email_address) }}
        {{ wtf.horizontal_field(form.password) }}
        {# {{ wtf.horizontal_field(form.remember_me) }} #}

        <button id="login-btn" name="login-btn" type="submit">Login</button>
    </form>

{% endblock %}