{% extends "site_base.html" %}

{% block title %}- Reset Your Password{% endblock %}
{% block content %}
    <p>Reset Your Password</p>

    <ul>
        <li><a href="{{ url_for('account.login') }}">Want to login instead?</a></li>
    </ul>

    {% include "snippets/flashes.html" %}

    <form method="POST" action="{{ url_for('account.reset_password') }}">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, "only") }}

        {{ wtf.horizontal_field(form.email_address) }}

        <button id="reset-password-btn" name="reset-password-btn" type="submit">Reset Your Password</button>
    </form>

{% endblock %}