{% extends "site_base.html" %}

{% block title %}- Sign Up For An Account{% endblock %}
{% block content %}
    <p>Sign Up For An Account</p>

    <ul>
        <li><a href="{{ url_for('account.login') }}">Already have an account?</a></li>
    </ul>

    {% include "snippets/flashes.html" %}

    <form method="POST" action="{{ url_for('account.signup') }}">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, "only") }}

        {{ wtf.horizontal_field(form.email_address) }}
        {{ wtf.horizontal_field(form.password) }}
        {{ wtf.horizontal_field(form.password_confirm) }}

        <button id="sign-up-btn" name="sign-up-btn" type="submit">Sign Up</button>
    </form>

{% endblock %}